<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phoenix.blog.core.mapper.ArticleMapper">
    <select id="selectArticleWithPublisher" parameterType="string"
            resultType="com.phoenix.blog.model.vo.ArticleVO">
        SELECT a.* , u.username , u.user_avatar_url
        FROM article a
            INNER JOIN user u ON a.article_user_id = u.user_id
        WHERE a.article_id = #{articleId}
    </select>

    <select id="selectArticleWithPublisherList"
            resultType="com.phoenix.blog.model.vo.ArticleVO">
        SELECT a.* , u.username , u.user_avatar_url
        FROM article a
        INNER JOIN user u ON a.article_user_id = u.user_id
    </select>

    <select id="selectUserArticleList" parameterType="string"
            resultType="com.phoenix.blog.model.vo.ArticleVO">
        SELECT a.* , u.username , u.user_avatar_url
        FROM article a
                 INNER JOIN user u ON a.article_user_id = u.user_id
        where a.article_user_id = #{userId}
    </select>
</mapper>

