<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phoenix.blog.core.mapper.CollectionMapper">
    <select id="selectCollectionsByUsername" parameterType="string"
            resultType="com.phoenix.blog.model.vo.CollectionVO">
        SELECT c.*
        FROM user u
            INNER JOIN collection c on c.collection_user_id = u.user_id
        Where u.username = #{username}

    </select>
    <select id="selectCollectionArticleList" parameterType="string"
            resultType="com.phoenix.blog.model.vo.ArticleVO">
        SELECT a.* , u.username , u.user_avatar_url,cal.collection_article_note
        from article a
            INNER JOIN user u ON a.article_user_id = u.user_id
            INNER JOIN collection_article_list cal on cal.article_id = a.article_id
        where cal.collection_id = #{collectionId}
    </select>

    <select id="isArticleExistsInCollection" parameterType="string"
            resultType="int">
        SELECT EXISTS(SELECT 1 FROM collection_article_list
                               WHERE collection_id = #{collectionId} AND article_id = #{articleId})
    </select>

    <insert id="insertArticleIntoCollection" parameterType="map">
        INSERT INTO collection_article_list(collection_article_list_id, collection_id, article_id)
        VALUES(#{collectionArticleListId}, #{collectionId}, #{articleId})
    </insert>

    <update id="updateArticleNoteIntoCollection" parameterType="string">
        UPDATE collection_article_list cal
        SET cal.collection_article_note = #{remark}
        WHERE cal.collection_id = #{collectionId} AND cal.article_id = #{articleId}
    </update>


    <delete id="deleteArticleFromCollection" parameterType="string">
        DELETE FROM collection_article_list cal
        WHERE cal.collection_id = #{collectionId} And cal.article_id = #{articleId}
    </delete>


</mapper>