<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phoenix.blog.core.mapper.CommentMapper">
    <select id="selectCommentWithPublisherList" parameterType="string"
            resultType="com.phoenix.blog.model.vo.CommentVO">
        SELECT c.*, u.username, u.user_avatar_url
        FROM comment c
                 INNER JOIN user u ON c.comment_user_id = u.user_id
        where c.comment_article_id = #{articleId}
        order by c.comment_revise_time
    </select>
</mapper>