<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phoenix.blog.core.mapper.ArticleMapper">
    <select id="getMessageList" parameterType="string"
            resultType="com.phoenix.blog.model.vo.ArticleMessageVO">
        SELECT ma.* , u.username , a.article_title
        FROM message_article ma
                INNER JOIN user u ON ma.message_receiver_id = u.user_id
                INNER JOIN article a on ma.message_related_article_id = a.article_id
        WHERE ma.message_receiver_id = #{receiverId}
    </select>
</mapper>