<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phoenix.blog.core.mapper.TagMapper">
    <select id="getArticleTagList" parameterType="String"
            resultType="com.phoenix.blog.model.vo.TagVO">
    SELECT t.tag_id, t.tag_content FROM tag t
    INNER JOIN article_tag_list atl on t.tag_id = atl.tag_id
    WHERE atl.article_id = #{articleId}
    </select>

    <insert id="addTagToArticle" parameterType="map">
        INSERT INTO article_tag_list(article_tag_list_id,article_id,tag_id)
        VALUES (#{articleTagListId},#{articleId},#{tagId})
    </insert>
</mapper>